<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://DESKTOP-E2HJ4S6:1433;databaseName=FirstJavaApi;encrypt=true;trustServerCertificate=true</property>
        <property name="hibernate.connection.username">java_app</property>
        <property name="hibernate.connection.password">JavaPass</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="hibernate.default_schema">dbo</property>
    </session-factory>
</hibernate-configuration>
